.footerWrapper{
    position: relative;
    width: 100%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    flex-wrap: wrap;
}

.footerNav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social{
    width: 35%;
}

img{
    width: 20px;
    height: 20px;
    margin: 15px;
}

.footerEnd{
    /*background-color: rgba(71, 184, 146, 0.466);*/
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: stretch;

    
}

.footerText {
    font-size: 12px;
    display: flex;
    font-family: "Saira Condensed";
    color: #ffffff;
    text-decoration: none;
}