header{
    background-color: whitesmoke;
    box-shadow: 0px 0px 5px 1px rgba(128, 128, 128, 0.548);
    position: sticky !important;
    top:0;
    width:100%;
    margin-bottom: 0.1rem;
    z-index:1;
}

li{
    display: inline-block;
    margin: 1rem;
    float: right;
}

li:first-child{
    float: left;
}

ul{
    /*display: flex;
    justify-content: flex-end;*/
    text-align: left;
    margin: auto;
    border-bottom: 0.2px solid gray;
}


