.post{
    display:flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin-top: 40px;
}

.content{
    display: flex;
    flex-direction: column;
    margin:20px;
    align-items: center;
    text-align: left;
}

.more{
    align-self: flex-start;
    margin-top: 20px;
    height: 100%;
}

.postTitle{
    margin-bottom: 40px;
}

.others{
    min-height: calc(39vh - 85px);
}