.post{
    display:flex;
    flex-direction: column;
    width: 90%;
    margin-top: 40px;
}

.content{
    display: flex;
    flex-direction: column;
    margin:20px;
    align-items: flex-start;
    text-align: left;
}

.more{
    margin-top: 20px;
}

.postTitle{
    margin-bottom: 40px;
}