html, body{
    background-color: #303030;
    height: 100%;
}

.top-banner{
    width: 100%;
    /*box-shadow: 0px 0px 50px -10px inset ;*/
}

.site-title-wrapper{
    transition: 2s;
    margin-top: 0px;
    /*background-color: rgba(113, 176, 196, 0.329);*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.site-title-wrapper-active{
    margin-top: 50px;
    margin-bottom: 50px;
    /*background-color: rgba(113, 176, 196, 0.329);*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: 2s;
}

.site-title-country{
    align-self: center;
}
.site-title-songs{
    align-self: center;
}

.search-country{
    background-color: #303030;
    border-radius: 4px;
    border: 2px solid #a0a0a0;
    font-family: "Cuprum";
    font-size: 16px;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 6px;
    padding-top: 6px;
}

.search-Wrapper{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: -7px; -- for safari*/
}

.search-Wrapper-active{
    transition: 2s;
    /*box-shadow: 0px -5px 5px -5px #d6ff79;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: -7px; -- for safari*/
    margin-top: 0px;
}

.search-form{
    margin: 0;
}

.search-Wrapper-notActive{
    transition: 2s;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: -7px; -- for safari*/
    margin-top: 0px;
}


/***
*
* youtube floating player module 
*
***/
.closeFloatingPlayer{
    position: absolute;
    width:5%;
    right: 0;
    top: -6.9%;
    display: flex;
    justify-content: flex-end;
}

.closeFloatingPlayer svg{
    left: 0;
    top: 0;
    display: flex;
    background-color: #00000000;
    fill: black;
    stroke:#00000000;

}

.closeFloatingPlayer path:hover{
    width: 5%;
    left: 0;
    top: 0;
    display: flex;
    background-color: #00000000;
    fill:rgb(209, 68, 68);
    stroke:none;

}


.floatingPlayer{
    width: 28%;
    background-color: rgba(220, 220, 220, 0);
    position: fixed;
    top: 60%;
    left: 66.82%;
}

.videoWrapper{
    padding-bottom: 56.15%; /* 16:9 */
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 0px 10px 2px #777;
    -moz-box-shadow: 0 0px 10px 2px #777;
         box-shadow: 0px 0px 10px 2px #777;

}


h4{
    font-family: "Saira Condensed";
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

h1{
    font-family: "Saira Condensed";
    color:#ffffff;
    text-decoration: none;
    
}

h2{
    font-family: "Saira Condensed";
    color: #ffffff;
    text-decoration: none;
}

h3{
    font-family: "Saira Condensed";
    color: #ffffff;
    text-decoration: none;
}

h4 > span{
    font-family: "Saira Condensed";
    color:rgb(155, 186, 187);
    text-decoration: none;
}


p{
    font-family: "Roboto";
    color: #ffffff;
    text-decoration: none;
    font-size: 10px;
    font-weight: 200;
}

a {font-family: "Saira Condensed";
    color: #ffffff;
    text-decoration: none;
}

span {font-family: "Saira Condensed";
    color: #ffffff;
    text-decoration: none;
}

input{
    font-family: "Saira Condensed";
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
}