svg{
    width: 100%;
    /* margin-top: 20px; */
    /* background-color: rgb(224, 224, 224); */
    
    stroke-width: .5px;
    stroke: #d6ff79;
    display: flex;
}

.clicked {
    width: 100%;
    background-color: rgba(113, 176, 196, 0.329);
}

path:hover {
    fill: #d6ff79;
}


.banner{
    background-color: rgb(255, 255, 255,0);
    width: 100%;
}

