svg{
    width: 100%;
    /* margin-top: 20px; */
    /* background-color: rgb(224, 224, 224); */
    background-color: rgba(113, 176, 196, 0.329);
    stroke: #eeeeee20;
    display: flex;
}

.clicked {
    width: 100%;
}

path:hover {
    fill: #63EFEF;
}


.banner{
    background-color: rgb(255, 255, 255,0);
    width: 100%;
}

